.searchContainer{
    display: flex;
    justify-content: center;
}
.searchBox{
    position: relative;
}
.searchButton{
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}
.searchInput{
    color: #fff;
    font-size: 1.2rem;
    width: 400px;
    max-width: 400px;
    height: 30px;
    /* border-radius: 10px; */
    padding: 5px 30px 5px 10px;
    background: transparent;
    border-left: 1px solid black;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #ebbed4;
    border-right: 1px solid black;
    
}


.searchInput:focus{
    outline: none;
    border-radius: 10px;
    border: 1px solid #ebbed4;
    box-shadow: 0 0 5px #ebbed4;
}

@media screen and (max-width: 600px) {
    .searchInput {
        width: auto;
    }
}